.content {
  display: flex;
  justify-content: space-around;
  background-color: #1e1e1e;
  width: 100%;
  overflow: hidden;
}

.shadow {
  position: absolute;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}

.backgroundImage {
  position: absolute;
  /* height: 100%; */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../public/images/codeBg.jpg');
  object-fit: contain;
  filter: blur(13px);
  opacity: .70;
  z-index: 0;
}

.pic {
  align-self: flex-end;
  height: 900px;
  z-index: 100;
  /* margin-right: 80px; */
}

.textBlock {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  z-index: 2;
  margin-left: 100px;
  gap: 150px;
}

.title {
  align-self: center;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 94px;
  color: white;
  z-index: 100;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.blue {
  color: rgba(0, 131, 193, 1);
}

.green {
  color: rgba(47, 193, 140, 1);
}
